@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    position:sticky;
    top: 0px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo{
    flex:20%;
    margin-left: 10%;
}

.logo h1{
    font-family: 'Lobster', cursive;
    color: #2e2cb6;
    font-size: 34px;
}

.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a{
    text-decoration: none;
    color: #2e2cb6;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
    color: #fb8177;
    border-top: 4px solid #2e2cb6;
}

#contact-us-button{
    color: white;
    background-color: #2e2cb6;
    padding: 10px 25px;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#contact-us-button:hover{
    background-color: #fb8177;
    border: none;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.headline{
    margin-left: 10%;
    flex: 40%;
    background-color: white;
}

.headline h2{
    color: #2e2cb6;
    padding: 0;
    margin: 0;
}

.headline p{
    color: #2e2cb6;
    text-align: left;
}

.hire-button{
    background-color:#fb8177;
    padding: 10px 16px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: inline;

}

.hire-button:hover{
    background-color:#2e2cb6;   
}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}

.section{
    display: inline-block;
    margin-top: 60px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.section h2{
    font-size: 50px;
    color:#2e2cb6;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.services{
    display: flex;
    margin-top: 5%;
    flex-flow: row wrap;
}

.card{
    border-radius: 10px;
    color: #2e2cb6;
    flex: 30%;
    padding: 20px;
    margin: 1%;
    border: 2px solid #fb8177;
    text-align: center;
    cursor:pointer;
}

.card:hover{
    color: white;
    background-color: #fb8177;
    padding: 60px;
}

.card:hover img{
    display: none;
}

.card:hover .original-text{
    display: none;
}

.card:hover .ocult-text{
    display: block;
}

.card h3{
    font-style: italic;
    text-align: center;
}

.ocult-text{
    display:none;
}


footer{
    display:flex;
    margin-top: 150px;
    flex-flow: column wrap;
    height: 300px;
    background-image: linear-gradient(to right, #2e2cb6, #5755e7);
    justify-content: center;
    text-align: center;
}

.footer-logo{
    color: white;
}

.footer-logo h2{
    font-family: 'Lobster', cursive;
    font-size: 34px;
}

.whats-logo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.whats-logo:hover img{
    width: 60px;
}